.roadmap {
	margin-top: 118px;
	&__bg {
		width: 100%;
		height: 240px;
		margin-top: 120px;
		z-index: -2;
		position: relative;
	}
	&__title {
		text-align: center;
		font-family: $audiowide;
		font-size: 38px;
		line-height: 45px;
		text-transform: uppercase;
	}
	.cards {
		margin-top: 106px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.card {
		max-width: 540px;
		width: 100%;
		background: $gray;
		border: 1px solid $lime;
		position: relative;
		&-blue, &-purple {
			margin-top: 140px;
			&::before {
				position: absolute;
				content: "";
				width: 1px;
				height: 40px;
				background-color: $lime;
				top: -95px;
				left: 50%;
			}
		}
		.card-header {
			padding: 12px 12px 13px 12px;
			display: flex;
			border-bottom: 1px solid $lime;
			&__number {
				width: 45px;
				height: 45px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid $lime;
				font-family: $dmMomo;
				font-size: 28px;
				line-height: 28px;
				color: $lime;
			}
			&__text {
				margin-left: 11.75px;
				text-transform: uppercase;
				font-family: $dmMomo;
			}
			&__title {
				font-size: 8px;
				line-height: 12px;
				letter-spacing: 1px;
				color: $lime
			}
			&__descr {
				font-size: 16px;
				line-height: 28px;
			}
		
		}
		.card-content {
			display: flex;
			padding: 30px 12px;
				&__text {
					font-family: 'Inter';
				}
		
				&__header {
					font-size: 13px;
					line-height: 32px;
					padding-left: 22px;
				}
		
				&__descr {
					margin-top: 16px;
					font-size: 13px;
					line-height: 26px;
				}
		
				&__img {
					width: 129px;
					height: 129px;
					img {
						border-radius: 8px;
					}
				}
		}
	}
	// Circle`s
	.card {
		&::after {
			position: absolute;
			width: 672px;
			height: 672px;
			content: '';
			background: url(../img/roadmap/circle.svg);
			z-index: -1;
		}
		&-red {
			&::after {
				top: -129%;
				left: -94%;
			}
		}
		&-blue {
			&::after {
				top: -90%;
				right: -80%;
			}
		}
		&-purple {
			&::after {
				top: -28%;
				left: -80%;
			}
		}
	}
}
