.story {
	margin-top: 240px;
	&__title {
		font-family: $audiowide;
		font-size: 37px;
		line-height: 45px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 61px;
		span {
			color: $light-gray;
		}
	}
	&-tabs {
		padding-left: 40px;
		max-width: 1160px;
		width: 100%;
		display: flex;
	}
}
.tabs {
	display: flex;
	flex-direction: column;
	.tab {
		width: 282px;
		height: 72px;
		padding-left: 28px;
		font-family: $dmMomo;
		font-size: 16px;
		line-height: 16px;
		display: flex;
		align-items: center;
	}
	.active {
		background-color: $gray;
		color: $lime
	}
	&-content {
		width: 80%;
		background-color: $purple;
	}
}

.tab-item {
	display: flex;
	padding: 60px;
}
.tab {
		&__img {
			width: 172px;
			height: 253px;
		}
		&-text {
		margin-left: 40px;
		width: 60%;
		&__title {
			font-family: $dmMomo;
			color: $lime;
			font-size: 21px;
			line-height: 32px;
			margin-bottom: 28px;
			padding-left: 22px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 2px;
				height: 100%;
				background-color: $lime;
			}
		}
		&__descr {
			font-family: $inter;
			font-size: 16px;
			line-height: 26px;
			margin-bottom: 18px;
		}
		}
}
